<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    </head>
    <body>
        <div class="title">
            Detecting and Characterizing Reviewer Groups in Online 
             Product Reviews
        </div>
        <div class="nav">
           <a href="/">HOME</a>
           <a href="/login">LOGIN</a>
           <a href="/register">REGISTER</a>
        </div>
             <div class="abstract">
         <h2>ABSTRACT</h2>
         <p>-Online market places often sees spam in the form of reviews. People are often hired to target 
             specific brands for promoting them by writing highly positive or negative reviews. This often 
             is done collectively in groups. Although some previous studies attempted to identify and 
             analyze such opinion spam groups, little has been explored to spot those groups who target a 
             brand as a whole, instead of just products. In this project, we collected the reviews from the 
             ecommerce site and manually labeled a set of candidate reviewer groups. The groups are 
             extracted using frequent item set mining over brand similarities such that users are clustered 
             together if they have mutually reviewed. We hypothesis the reviewer groups is dependent on 
             features specific to a (group, brand) pair. Developing a feature-based supervised model to 
             classify candidate groups as extremist entities. We run simultaneously more classifiers to 
             classify a group based on the reviews written by the users to determine whether the group 
             shows signs of end point. These includes consistency in ratings, review sentiment, verified 
             purchase, review dates, and helpful ratings received on reviews. we observe that there are a lot 
             of verified reviewers showing extreme sentiment, which, on further investigation, leads to the 
             existing mechanisms in place to prevent intruder incentives on site</p>
             </div>
             <div class="imags">
                <div class="name">
                <div class="sai"><img src="{{url_for('static',filename='images/590.jpg')}}"/>
             <h3>N.SAI MANIKANTA</h3></div>
                <div class="ani"><img src="{{url_for('static',filename='images/565.jpeg')}}"/>
             <h3>ANIRUDH SINGH</h3></div>
                 
             </div>
             <div class="names">
                <div class="tarun"><img src="{{url_for('static',filename='images/563.jpeg')}}"/>
             <h3>A.TARUNKUMAR</h3></div>
                <div class="nadh"><img src="{{url_for('static',filename='images/570.jpeg')}}"/>
             <h3>B.MAHARAJ SAINADH</h3></div>
                 
             </div>
             </div>
    </body>
</html>